body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: #f9e3e3;
  font-family: "Arial", sans-serif;
}

.container {
  margin-top: 50px;
  text-align: center;
}

/* Apply column layout and large top margin to each section separately */
.kiss,
.eat,
.kissss,
.pre,
.neck,
.lips,
.three,
.sleep {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 500vh;
  text-align: center;
}

/* Neck needs extra spacing */
.neck {
  margin-top: 1000vh;
}

.kiss img {
  max-width: 500px;
  width: 100%;
  height: auto;
}
.img1 {
  margin-top: 20px;
}

/* Double the neck image size */
.neck img {
  max-width: 400px;
  width: 100%;
  height: auto;
}

.header_text {
  font-size: 3em;
  color: #d32f2f;
}

.gif_container img {
  width: 100%;
  max-width: 500px;
  height: auto;
}
